
.vs/ProyectoRestaurante/v16/.suo
ProyectoRestaurante/obj/Debug/Restaurante.csproj.AssemblyReference.cache
ProyectoRestaurante/obj/Debug/Restaurante.csproj.GenerateResource.cache
.vs/ProyectoRestaurante/v16/.suo
